::after,::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html {
	scroll-behavior: smooth;
}

:root {
    --scrollbar-width: calc(100vw - 100%);
    --menu-bg-color: white;
}

body {
	overflow-x: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
}